
body{
    font-family: Roboto;
}

.div{
    border-style: solid;
    border-color: black;
}

ul{
    list-style: none;
    display: flex;
    gap: 16px;
}

.header{
    display: flex;
    justify-content: space-between;
}