
body{
    font-family: Roboto;
}

ul{
    list-style: none;
    display: flex;
    gap: 16px;
    vertical-align: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #1F2937;
    color: white;
}

.left{
    padding: 10px 0;
    font-size: 24px;
    color: #F9FAF8;
}

.hero{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.main-text{
    font-family: 48px;
    color: #F9FAF8;
    font-weight: 900;
}